body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* Padding and border are pushed inside the content box.
       default value is content box */
}

.navbar{
    background: #c94c4c;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-left: 125px;
    padding-right: 160px; 
    dont give padding left, right. it creates empty space below
    padding only also creates empty space -----------------*/
    width: 100%;
    height: 90px;
}

#head1{
    font-family: 'Pacifico', cursive;
    /* paste google leppis link in head section */
    font-size: 200%;
}

ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
/* flex should be in that div of nav bar items */

a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* to avoid underline  */
}
.developer{
    height: 600px;
    background: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    ),
    url("../task/devvv.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: initial;
    padding-left: 100px;
    padding-top: 70px;
}

#head2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 260%;
}
#para1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 140%;
}
.para1,span{
    float: left;
}
/* to split para in 2 lines and allign left */
.intro{
    text-align: center;
    margin: 40px;
    padding: 40px;
}
#head3{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#para2{
    font-size: 18px;
    /* margin-bottom: 20px; */
}
.name{
    /* background: rgb(169, 167, 167); */
    padding: 30px;
    text-align: center;
}
.about{
    background: rgb(175, 172, 172);
}
.cards{
    display: flex;
    justify-content: center;
    gap: 35px;
    /* align-items: center; */
}
.card{
    background: white;
    padding: 40px 30px;
}
.card i{
    font-size: 36px;
    font-weight: 600;
    padding-left: 60px;
}